@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');

$font-primary: "Kameron", sans-serif;
$font-size-h1: 35px;
$font-size-h2: 40px;
$font-size-description: 20px;
$font-size-text: 25px;

//? MOBILE VERSION

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: white;
    font-family: $font-primary;
    position: relative;
    overflow: hidden;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}


body::before {
    content: "";
    display: table-cell;
    width: 800px;
    height: 800px;
    z-index: -1;
    background: #1630dbe5;
    animation: bgloop 120s linear infinite;
    position: absolute;

    @keyframes bgloop {
        0% {
            -webkit-transform: rotate(0%);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
}

.menu {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 35px;
    text-shadow: 0 0 1px #1c1c1c;
    z-index: 100;
    cursor: pointer;
}

.city-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #0000ffe0;
    transform: translateX(100%);
    transition: all 150ms linear;
    opacity: 0;

    &.active {
        opacity: 1;
        transform: translateX(0%);
    }

    .fa-caret-square-down {
        pointer-events: none;
    }

    .fa-times {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 35px;  
        cursor: pointer;
    }

    ul {
        text-align: right;
        list-style: none;
        

        li {
            padding: 20px 75px;
            font-size: $font-size-text;
        }

        a {
            text-decoration: none;
            color: white;
            margin: 0;
        }
    }
}

#output {
    text-align: center;

    h1   {      
        font-size:$font-size-h1;
        font-weight: 400;
        padding-top: 100px;
    }

    h2   {
        font-size:$font-size-h2;
    }

    h1, h2 {
        font-weight: 100;
    }

    img {
        margin: 10px;
    }

    .temps-options {
        display: -webkit-box;
        position: absolute;
        left: 0;
        bottom: 10%;
        border-top: 1px solid rgba(192, 192, 192, 0.075);
        border-bottom: 1px solid rgba(192, 192, 192, 0.075);
        width: 100%;
        padding: 0 10px;
        margin: 0 10px 0 0;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 0;
        }

        span {
            margin-left: 15px;
        }

        div {
            height: 100px;
            width: max-content;
            line-height: 110px;
            font-size: $font-size-text;
            text-align: center;
            padding: 0;

            &:last-child {
                padding-right: 20px;
            }
        }

        
    }

    .weather-description {
        font-size: $font-size-description;
        font-size: $font-size-text;
        letter-spacing: 1px;
    }

}

@media (min-width: 600px) {
    body {
        display: grid;
        place-content: center;
        height: 100vh;
    }
    
    #output {
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: space-evenly;

        h2 {
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            font-size: 50px;
        }
    }

    .temps-options {
        display: flex;
        justify-content: center;
    }
}



