@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-content: center;
  color: white;
  font-family: "Kameron", sans-serif;
  position: relative;
  overflow: hidden;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  display: table-cell;
  width: 800px;
  height: 800px;
  z-index: -1;
  background: #1630dbe5;
  -webkit-animation: bgloop 120s linear infinite;
          animation: bgloop 120s linear infinite;
  position: absolute;
}

@-webkit-keyframes bgloop {
  0% {
    -webkit-transform: rotate(0%);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes bgloop {
  0% {
    -webkit-transform: rotate(0%);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.menu {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  text-shadow: 0 0 1px #1c1c1c;
  z-index: 100;
}

.city-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgba(0, 0, 255, 0.877);
  display: none;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: 0;
}

.city-menu.active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.city-menu .fa-caret-square-down {
  pointer-events: none;
}

.city-menu .fa-times {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 35px;
}

.city-menu ul {
  text-align: right;
  list-style: none;
}

.city-menu ul li {
  padding: 20px 75px;
  font-size: 25px;
}

#output {
  text-align: center;
}

#output h1 {
  font-size: 35px;
  font-weight: 400;
}

#output h2 {
  font-size: 40px;
}

#output h1, #output h2 {
  font-weight: 100;
}

#output img {
  margin: 10px;
}

#output .temps-options {
  display: -webkit-box;
  position: absolute;
  left: 0;
  bottom: 10%;
  border-top: 1px solid rgba(192, 192, 192, 0.171);
  border-bottom: 1px solid rgba(192, 192, 192, 0.171);
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding: 0 10px;
  margin: 0 10px 0 0;
}

#output .temps-options::-webkit-scrollbar {
  display: none;
}

#output .temps-options span {
  margin-left: 15px;
}

#output .temps-options div {
  height: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 100px;
  font-size: 25px;
  text-align: center;
  padding: 0;
}

#output .temps-options div:last-child {
  padding-right: 20px;
}

#output .weather-description {
  font-size: 20px;
  font-size: 25px;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  body {
    display: -ms-grid;
    display: grid;
    place-content: center;
    height: 100vh;
  }
  #output {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #output h2 {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    font-size: 50px;
  }
  .temps-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */