@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');

$font-primary: "Kameron", sans-serif;
$font-size-h1: 36px;
$font-size-h2: 48px;
$font-size-description: 30px;
$font-size-text: 20px;

//? MOBILE VERSION

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-width: 500px;
    color: white;
    font-family: $font-primary;
    position: relative;
    overflow: hidden;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}


body::before {
    content: "";
    display: table-cell;
    width: 800px;
    height: 800px;
    z-index: -1;
    background: #5466DF;
    animation: bgloop 120s linear infinite;
    position: absolute;

    @keyframes bgloop {
        0% {
            -webkit-transform: rotate(0%);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
}

.menu {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 35px;
    text-shadow: 0 0 1px #1c1c1c;
    z-index: 100;
    cursor: pointer;
}

.city-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background: #5564ca;
    transform: translateY(-100%);
    transition: all 150ms linear;
    opacity: 0;
    max-width: 500px;

    &::before {
        content: "";
        display: table-cell;
        width: 300px;
        height: 300px;
        z-index: -1;
        background: rgba(255, 255, 255, 0.068);
        animation: menubgloop 200s linear infinite;
        position: absolute;
        left: -30px;
        bottom: -30px;

         @keyframes menubgloop {
             0% {
                 -webkit-transform: rotate(0);
             }

             100% {
                 -webkit-transform: rotate(360deg)
             }
         }
    }

    &.active {
        opacity: 1;
        transform: translateY(0%);
    }

    .fa-chevron-down {
        pointer-events: none;
    }

    .fa-chevron-up {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 35px;  
        cursor: pointer;
    }

    .span-message-wrapper {
        width: 100%;
        text-align: right;
        margin-right: 30px;
        margin-bottom: 10px;
       
    }

    .search-city-wrapper {
        position: absolute;
        top: 25px;
        left: 15px;
        right: 85px;

        #search {
            background: none;
            border: none;
            color: white;
            border-bottom: 1px solid rgba(255, 255, 255, 0.212);
            padding: 10px 5px;
            width: 100%;
            transition: all 150ms linear;
            font-size: $font-size-text;
            left: 15px;
            right: 25px;

            &:focus {
                outline: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.541);
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.548);
                font-weight: 100;
            }

            &.error-handling {
                border-bottom: 1px solid red;
            }

            &.error-handling-message {
                background: red;
                display: block;
            }
        }

        #find {
            all: unset;
            outline: 1px solid rgba(255, 255, 255, 0.212);
            padding: 5px 0;
            cursor: pointer;
            width: 100%;
            margin-top: 10px;
            text-align: center;
            transition: all 150ms linear;
            font-size: $font-size-text;
            letter-spacing: 1px;

               &:hover,
               &:focus {
                   outline: 1px solid rgba(255, 255, 255, 0.541);
               }
        }
    }

    #history-city-section {
        text-align: right;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        padding: 10px 15px;
        margin-bottom: 20px;
        margin-right: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.212);
        overflow-y: auto;

        a {
            font-size: $font-size-description;
            text-decoration: none;
            color: white;
            width: 100%;
            text-align: right;
            margin: 5px 0;
        }

    }

    .clear-history {
        width: 65%;
        margin-bottom: 30px;
        padding: 8px 10px;
        cursor: pointer;
        border: none;
        font-size: $font-size-text;
        color: white;
        border-radius: 2px;
        transition: all 150ms linear;
        background: #37428dc9;

        &:hover,
        &:focus {
            background: rgba(255, 0, 0, 0.658);
        }
    }
}

#output {
    text-align: center;
    

    h1   {      
        font-size:$font-size-h1;
        font-weight: 400;
        padding-top: 40px;
        text-shadow: 0 0 1px #1c1c1c;
        
    }

    h2   {
        font-size:$font-size-h2;
        text-shadow: 0 0 1px #1c1c1c;
    }

    h1, h2 {
        font-weight: 100;
    }

    img {
        margin: 10px;
        width: 100px;
        height: 100px;
    }

    .temps-options {
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        border-top: 1px solid rgba(192, 192, 192, 0.075);
        border-bottom: 1px solid rgba(192, 192, 192, 0.075);


        .min-max {
            min-width: 50%;
            grid-row: 1;
            border-right: 1px solid rgba(255, 255, 255, 0.07);
        }
        

        .feels-like {
            grid-column: 1 / span 2;
            grid-row: 2 / -1;
            display: flex;
            width: 100%;
            justify-content: center;
        }

        span {
            font-size: $font-size-text;
            display: block;
        }

        div {
            margin-top: 15px;
            font-size: 30px;
            text-align: center;

            &:last-child {
                margin-top: 10px;
            }
        }

        
    }

    .weather-description {
        font-size: $font-size-description;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }

}

// @media (min-width: 600px) {
//     body {
//         display: grid;
//         place-content: center;
//         height: 100vh;
//     }
    
//     #output {
//         display: flex;
//         align-items: center;
//         width: 100vw;
//         justify-content: space-evenly;

//         h2 {
//             position: absolute;
//             top: 40px;
//             left: 0;
//             right: 0;
//             font-size: 50px;
//         }
//     }

//     .temps-options {
//         display: flex;
//         justify-content: center;
//     }
// }



