@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

$font-primary: "Playfair Display", sans-serif;
$font-size-h1: 32px;
$font-size-h2: 20px;

//? MOBILE VERSION

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    color: white;
    font-family: $font-primary;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    display: table-cell;
    width: 600px;
    aspect-ratio: 1;
    z-index: -1;
    background: #1630dbe5;
    animation: bg-loop 60s linear infinite;
    position: absolute;

    @keyframes bg-loop {
        0% {
            transform: rotate(0%);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}



#output {
    text-align: center;

    h1   {      
        font-size:$font-size-h1;
    }

    h2   {
        font-size:$font-size-h2;
    }

    h1, h2 {
        font-weight: 100;
    }

    .min-max-temps {
        display: flex;
        margin-top: 10px;
        width: 250px;
        justify-content: space-evenly;
    }

}

