@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: white;
  font-family: "Kameron", sans-serif;
  position: relative;
  overflow: hidden;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  display: table-cell;
  width: 800px;
  height: 800px;
  z-index: -1;
  background: #5466DF;
  -webkit-animation: bgloop 120s linear infinite;
          animation: bgloop 120s linear infinite;
  position: absolute;
}

@-webkit-keyframes bgloop {
  0% {
    -webkit-transform: rotate(0%);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes bgloop {
  0% {
    -webkit-transform: rotate(0%);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.menu {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  text-shadow: 0 0 1px #1c1c1c;
  z-index: 100;
  cursor: pointer;
}

.city-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #5564ca;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: 0;
}

.city-menu.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.city-menu .fa-chevron-down {
  pointer-events: none;
}

.city-menu .fa-times {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
}

.city-menu .search-city-wrapper {
  position: absolute;
  top: 25px;
  left: 15px;
  right: 85px;
}

.city-menu .search-city-wrapper #search {
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  padding: 10px 5px;
  width: 100%;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  font-size: 20px;
  left: 15px;
  right: 25px;
}

.city-menu .search-city-wrapper #search:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.541);
}

.city-menu .search-city-wrapper #search::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.548);
  font-weight: 100;
}

.city-menu .search-city-wrapper #search:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.548);
  font-weight: 100;
}

.city-menu .search-city-wrapper #search::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.548);
  font-weight: 100;
}

.city-menu .search-city-wrapper #search::placeholder {
  color: rgba(255, 255, 255, 0.548);
  font-weight: 100;
}

.city-menu .search-city-wrapper #find {
  all: unset;
  outline: 1px solid rgba(255, 255, 255, 0.212);
  padding: 5px 20px;
  cursor: pointer;
  width: 90%;
  margin-top: 10px;
  text-align: center;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  font-size: 20px;
  letter-spacing: 1px;
}

.city-menu .search-city-wrapper #find:hover, .city-menu .search-city-wrapper #find:focus {
  outline: 1px solid rgba(255, 255, 255, 0.541);
}

.city-menu ul {
  text-align: right;
  list-style: none;
}

.city-menu ul li {
  padding: 10px 75px;
  font-size: 30px;
}

.city-menu ul a {
  text-decoration: none;
  color: white;
  margin: 0;
}

#output {
  text-align: center;
}

#output h1 {
  font-size: 36px;
  font-weight: 400;
  padding-top: 40px;
  text-shadow: 0 0 1px #1c1c1c;
}

#output h2 {
  font-size: 48px;
  text-shadow: 0 0 1px #1c1c1c;
}

#output h1, #output h2 {
  font-weight: 100;
}

#output img {
  margin: 10px;
  width: 100px;
  height: 100px;
}

#output .temps-options {
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  border-top: 1px solid rgba(192, 192, 192, 0.075);
  border-bottom: 1px solid rgba(192, 192, 192, 0.075);
}

#output .temps-options .min-max {
  min-width: 50%;
  -ms-grid-row: 1;
  grid-row: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

#output .temps-options .feels-like {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  grid-row: 2 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#output .temps-options span {
  font-size: 20px;
  display: block;
}

#output .temps-options div {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
}

#output .temps-options div:last-child {
  margin-top: 10px;
}

#output .weather-description {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
/*# sourceMappingURL=styles.css.map */